{% extends "base.html" %}
{% block content %}

<h1>Hi, {{ current_user.username }}!</h1>

<p>{{home.description}}</p>


<form method="post" name="status">
    {{ form.hidden_tag() }}
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Let your followers know what's on your mind:</p>
        {{ form.txt(class_='form-control') }}
        {% for error in form.txt.errors %}
        <div class="alert alert-danger" role="alert">
          [{{ error }}]
        </div>
        {% endfor %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary" value="status">Post!</button>
</form>


{% endblock %}
